<?php
    if (!empty($data)) {
        $multiimages = explode(',', $data->$name);
    }
?>

<div class="caro-multiimage-content" style="padding-bottom: 5px;">
    {% if data is not null %}
        {% for img in multiimages %}
            <img src="{{ img }}" class="img-thumbnail" style="height: 200px;">
        {% endfor %}
    {% endif %}
</div>

<span class="btn btn-default btn-file">
    Browse <input type="file" class="caro-upload-multiimage" location="images" multiple>
    <textarea name="{{ name }}" class="caro-value-upload" style="display: none">{% if data is not null %}{{ data.readAttribute(name) }}{% endif %}</textarea>
</span>