{% if view['link'] is defined and view['link'] %}
    <a href="{{ url('/'~ carofw['backendUrl'] ~'/' ~ controller ~ '/' ~ action_detail ~ '/' ~ row.id) }}">{{ value }}</a>
{% else %}
    {{ value }}
{% endif %}