<h3 id="backend-module">Create new module</h3>

<pre>Goto Module Builder --> add new module</pre>

<ul>
    <li>Backend or Front-end: choose core module</li>
    <li>Module name: If you choose core: we will create MVC in core module (backend or frontend). And create new folder when not exist in src folder (backend or frontend).</li>
    <li>Model name: new database model</li>
</ul>

<pre>Click Save</pre>

We have:

<p>Create new core model</p>
<ul>
    <li>new model in backend/models</li>
    <li>new controller in backend/controllers</li>
    <li>new model in frontend/models</li>
</ul>

<p>Create module</p>
<ul>
    <li>new core model in /backend/models/</li>
    <li>new controller in backend/controllers</li>
    <li>new module in src folder with: Controllers/, Models/, config/, views/</li>
</ul>

<p>If you choose core module is core. We will have list/detail/edit page</p>
<pre>
    http://example.com/admin/list : list
    http://example.com/admin/edit : create
    http://example.com/admin/edit/1 : edit item id=1
    http://example.com/admin/delete/1 : delete item id=1
</pre>

<p>If you choose core module is backend. We will have list/detail/edit page</p>
<pre>
    http://example.com/module/(module_name)/list : list
    http://example.com/module/(module_name)/edit : create
    http://example.com/module/(module_name)/edit/1 : edit item id=1
    http://example.com/module/(module_name)/delete/1 : delete item id=1
</pre>