<h3 id="field-type">Field type</h3>

<p>We define field types in: backend/views/view_default/fields</p>

<p>You can override or create new field type in: backend/views/view_customs/fields</p>

<p>We have 3 view:</p>
<ul>
    <li>list</li>
    <li>detail</li>
    <li>edit</li>
</ul>

<p>Field type base:</p>
<ul>
    <li>hidden: do not show</li>
    <li>image: show image, allow upload a image file in edit view</li>
    <li>multiimage: show multi image, allow upload multi image file in edit view</li>
    <li>note: textarea</li>
    <li>relate: relate with a other database table</li>
    <li>select: choose in list value which define in config/const.php</li>
    <li>textarea: textarea use Text Editor CKEditor</li>
</ul>