<h3>Permissions</h3>
<pre><img src="{{ static_url() }}/themes/caro/images/documents/permissions_flow.jpg" width="100%" /></pre>

<h3>Set Permissions</h3>
<p>Go to Users -> View Roles -> Set Permission / Role</p>
<pre><img src="{{ static_url() }}/themes/caro/images/documents/set_permission_1.jpg" width="100%" /></pre>
<p>Checked to set allow access</p>
<pre><img src="{{ static_url() }}/themes/caro/images/documents/set_permission_2.jpg" width="100%" /></pre>
<p>Save -> Done</p>
<p>Users have role were set please re-login</p>