<h3 id="getting-started">Getting started</h3>

<p>Get CaroFramework</p>
<pre>git clone https://github.com/teamcarodev/Caro-Framework.git</pre>

<pre>Create database</pre>

<pre>Go to source website. Example http://localhost/carofw/install</pre>

<p>Fill all information</p>
<pre><img src="{{ static_url() }}/themes/caro/images/documents/install.png" width="100%" /></pre>
<p> </p>

<p>
    Now you can login to admin page <br>
    go to: /admin. example: http://example.com/admin
</p>
<pre><img src="{{ static_url() }}/themes/caro/images/documents/login.jpg" width="100%" /></pre>
<p> </p>

<pre>Go to settings, click repair database</pre>
<pre><img src="{{ static_url() }}/themes/caro/images/documents/repair.png" width="100%" /></pre>
<p> </p>

<h3>Enjoy!</h3>