<h3 id="getting-started">Getting started</h3>
<p>Go to source website. Example http://localhost/carofw/install</p>
<p>Fill all information</p>
<pre><img src="{{ static_url() }}/themes/caro/images/documents/install.jpg" width="100%" /></pre>
<p> </p>

<p>
    Now you can login to admin page <br>
    go to: /admin. example: http://example.com/admin
</p>
<pre><img src="{{ static_url() }}/themes/caro/images/documents/login.jpg" width="100%" /></pre>
<p> </p>

<p>Go to settings, click repair</p>
<pre><img src="{{ static_url() }}/themes/caro/images/documents/repair.jpg" width="100%" /></pre>
<p> </p>

<h3 id="config-app">Application config</h3>
<p>Go to apps/config/config.ini. Edit "baseUrl"</p>

<h3 id="generate-database">Generate Database</h3>
<p>Go to apps/config/database_structures.php</p>
<p>Go to admin settings --> repair</p>