<h3 id="caro-structure">Caro Framework structure</h3>
<pre><img src="{{ static_url() }}/themes/caro/images/documents/structure.jpg" /></pre>
<p> </p>
<ul>
    <li>
        apps: application core
        <ul>
            <li>backend: admin module with MVC model</li>
            <li>frontend: frontend module with MVC model</li>
            <li>cache: file cache</li>
            <li>
                common: core file
                <ul>
                    <li>core: libraries core</li>
                    <li>layouts: layouts</li>
                </ul>
            </li>
            <li>config: file config: application, database, const</li>
        </ul>
    </li>
    <li>
        public
        <ul>
            <li>themes</li>
            <li>index.php: bootstrap</li>
        </ul>
    </li>
</ul>